<footer>
  <div class="container">
    <div class="divider"></div>
    <div class="row footer-content">
      <div class="col col-left">
        <i class="fa fa-envelope icon" aria-hidden="true"></i>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
      <div class="col middle">
        <i class="fa fa-github icon" aria-hidden="true"></i>
        <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>
      </div>
      <div class="col col-right right">col-three</div>
    </div>
  </div>
</footer>
