<footer>
  <div class="container">
    <div class="divider"></div>
    <div class="row footer-content">
      <div class="col col-left">col-one</div>
      <div class="col middle">
        <a class= "github-info" href="https://github.com/{{ site.github_username }}">
          <span class="icon icon-github">{% include icon-github.svg %}</span>
          <span class="username">{{ site.github_username }}</span>
        </a>
      </div>
      <div class="col col-right right">col-three</div>
    </div>
  </div>
</footer>
