// 404

.container-404 {
  padding-top: 36px;
  text-align: center;

  .code {
    font-size: 2rem;
  }

  .suggestion {
    padding-top: 16px;
  }

  .button-container {
    padding-top: 28px;

    .support {
      margin-left: 8px;
    }
  }
}
