// archive

.page-title {
  font-size: 1.5rem;
}

.year {
  font-size: 1.2rem;
  padding-top: 16px;
  span {
    padding-left: 8px;
  }
}

.post-title {
  padding-top: 16px;
  a {
    padding-left: 8px;
  }
}
