---
# Only the main Sass file needs front matter (the dashes are enough)
---

// 全局
body {
  color: rgba(0, 0, 0, 0.87);
}
a {
  text-decoration: none !important;
}
.padding-top {
  padding-top: 16px;
}

// header
.avatar {
  width: 48px;
  height: 48px;
}

// default
.main {
  padding-top: 32px;
}

// home
.post {
  margin-bottom: 48px;
  .title {
    font-size: 1.5rem;
  }
  .date {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.9rem;
  }
}
.chip {
  line-height: 32px;
  padding-left: 16px;
  height: 32px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.09);
  display: inline-block;
  margin: 0px 8px 16px 0px;
  .count {
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    display: inline-block;
    color: #ffffff;
  }
}
.new-essays {
  margin-top: 32px;
}
