---
layout: default
---

<div class="container">
  {{ content }}
  <div class="row">
    <div class="col-md-8 padding-top">
      {% for post in paginator.posts %}
        <div class="post">
          <div class="title">{{ post.title }}</div>
          <div class="date">{{ post.date | date: '%Y 年 %m 月 %d 日' }}</div>
          <div class="padding-top">{{ post.summary }}</div>
          <div class="padding-top">
            <a href="{{ post.url | relative_url }}">阅读全文</a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="col-md-4 padding-top">
      <div class="card">
        <div class="card-header card-title">
          标签
        </div>
        <div class="card-body">
          {% assign max_tag_count = 0 %}
          {% for tag in site.tags %}
            {% if tag[1].size > max_tag_count %}
              {% assign max_tag_count = tag[1].size %}
            {% endif %}
          {% endfor %}
          {% for i in (1..max_tag_count) reversed %}
            {% for tag in site.tags %}
              {% if tag[1].size == i %}
                <div class="chip">
                  <span>{{ tag[0] }}</span>
                  <span class="count" style="background-color: hsl(208, 80%, {{ tag[1].size | times: -18 | divided_by: max_tag_count | plus: 60}}%);">{{ tag[1].size }}</span>
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
      <div class="card new-essays">
        <div class="card-header card-title">
          最新文章
        </div>
        <ul class="list-group list-group-flush">
            {% for post in site.posts %}
              {% if forloop.index < 10 %}
                <li class="list-group-item">
                  <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
        </ul>
      </div>
    </div>
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>
  </div>
</div>
